.right__messages__message(data-message-id="#{message.id}")
    .right__messages__message__upper-box
        .right__messages__message__upper-box__name
            = message.user.name
        .right__messages__message__upper-box__date
            = message.created_at.strftime("%Y/%m/%d %H:%M")
    .right__messages__message__text
        - if message.content.present?
            %p.lower-message__content
                = message.content
        = image_tag message.image.url, class: "lower-message__image" if message.image.present?